<div class="container p-5">
<div class="card mx-auto m-4 p-2" style="width: 50%;">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything.</p>
    <form id="coachQuery" class="form-control-lg" action="/answer" data-turbo="false">
      <input type="text" name="query">
      <input class="btn btn-primary mb-2"type="submit" value="Ask!">
    </form>
</div>
</div>
